.App {
  text-align: center;
  margin:30px
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logout {
  width: 100px;
  height: 30px;
  border-radius: 6px;
  background: linear-gradient(145deg, #c541b6, #ea4dd8);
  box-shadow:  1.7px 1.7px 4.8px #8c2e81,
              -1.7px -1.7px 4.8px #ff62ff;
}

.logout:active {
  background: #db48ca;
  box-shadow: inset 17px 17px 48px #8c2e81,
              inset -17px -17px 48px #ff62ff;
}